{% extends "rest_framework/base.html" %}
{% load i18n %}
{% load rest_framework %}

{% block title %}{% if name %}{{ name }} – {% endif %}{% trans 'Ticket Queue API REST' %}{% endblock %}

{% block branding %}
    <a class="navbar-brand" rel="nofollow" href="{% url 'ticket_api:api-root' %}">
        {% trans 'Ticket Queue API REST' %}
    </a>
{% endblock %}

{% block userlinks %}
    <li>
        <a href="{% url 'schema-redoc' %}">
            {% trans 'Documentation' %}
        </a>
    </li>
    <li>
        <a href="{% url 'admin:login' %}">
            {% trans 'Admin Site' %}
        </a>
    </li>
    {% if user.is_authenticated %}
        {% optional_logout request user %}
    {% else %}
        {% optional_login request %}
    {% endif %}
{% endblock %}